h1, h3{
    text-align: center;
}

h3 {
    background-color: #e67e22;
    color: white;
    font-size: 0.9em;
    margin-bottom: 0px;
}

.actu p {
    background-color: #ecf0f1;
    margin-top: 0px;
}

.actu {
    width: 70%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #e67e22;
}